@import './base.css';

body {
  /* Allow text selection */
  user-select: text;
  /* Reset layout to block to allow MainLayout to take control */
  display: block;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}
